*{
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    color: var(--black);
}

a {
    color: #333333;
    transition: .5s;
}

a:hover {
    color: #04D89D;
}

button{
    cursor: pointer;
}

#discussion_main{
    width: 100%;
}

#discussion_main > div{
    width: 40%;
    margin: 2rem auto;
}

.overview_main{
    display: flex;
}

#overview_student a, #overview_teacher a{
    text-decoration: underline;
    color: #333333;
}

#overview_student a:hover, #overview_teacher a:hover{
    color: #04D89D;
}

#signin_main{
    display: grid;
    grid-template-columns: 1fr .5fr;
    padding: 0 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

#teacher_list{
    width: 90%;
    margin: auto;
    border-right: 2px solid grey;
    padding-right: 2rem;
}

#teacher_list > div{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(310px, 1fr) );
    column-gap: 2rem;
}

#teacher_list > div > div{
    margin: 1rem 0;
    width: 300px;
    padding: 1.5rem;
    border-bottom: 2px solid #333333;
    background-color: #F2F5FA;
}

#teacher_list > div > div a{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

#teacher_list > div > div > div {
    margin-top: 1rem;
}

#teacher_list > div > div > div p{ 
    margin: .3rem 0 0 0;
}

#teacher_list > div > div a:hover{
    color: #04D89D;
}

nav{
    width: max-content;
    height: 100vh;
    border-right: 2px solid #333333;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

nav div{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a{
    width: 90%;
    color: #333333;
    text-decoration: none;
    padding: .8rem 0;
}
nav a:hover{
    color: #04D89D;
}

#user{
    width: 100%;
    border-bottom: 2px solid #333333;
    margin: auto;
    display: flex;
    align-items: center;
}

#user h1{
    width: 98%;
    margin: 1rem 0 1rem 1rem;
}

#user a{
    width: 100px;
    text-decoration: none;
    color: #04D89D;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 1rem;
}
#user a:hover{
    color: #333333;
}

.overview_wrapper{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100%;
    justify-content: center;
}

#overview_student{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 4rem;
    width: 100%;
}

#overview_student > div{
    margin-top: 2rem;
}

#topic_form, #form_started_activity{
    margin: .8rem 0;
}

#new_topic{
    margin-top: 1rem;
}

#right{
    width: 100%;
    justify-self: end;
}

#right aside {
    width: 100%;
    border: 2px solid #333333;
    margin-bottom: 2rem;
}

.aside_title{
    background-color: #ECEFF4;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside_title i{
    font-size: 30px;
    cursor: pointer;
}

#started_activities > form, #finished_activities > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 1rem;
    border-top: 1px solid #333333;
}

#started_activities > form button{
    padding: .5rem 0;
}

#sign_up, #signin_main{
    margin-top: 5rem;
}

#sign_up h1, #sign_in h1 {
    text-align: center;
}

#sign_up > #form_sign_up, #sign_in > #form_sign_in {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;  
}

#sign_up > #form_sign_up{
    width: 350px;
}

#form_sign_in div{
    display: flex;
    justify-content: space-between;
}

#form_sign_up input, #form_sign_in input {
    margin-bottom: 1rem;
    height: 30px;
}

#form_sign_up button, #form_sign_in button {
    height: 30px;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}

#form_sign_up label, #form_sign_in label {
    margin-bottom: .2rem;
}

#activities_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#activities_wrapper p, #student_wrapper p {
    margin: 0;
}

#activities_wrapper > div > a, #activities_wrapper p {
    margin-bottom: 1rem;
}

#activities_wrapper > div, #student_wrapper > div{
    display: flex;
    flex-direction: row;
}

#activities_wrapper > div > a, #student_wrapper > div > a {
    margin-right: .5rem;
}

table {
    border-collapse: collapse;
    width: max-content;
    height: max-content;
    border: 2px solid #333333;
}

td, th {
    padding: 1rem;
    border: 1px solid #333333;
    text-align: left;
}

#student_wrapper > div{
    margin: .5rem 0;
}

.post{
    margin: 1rem 0;
    padding: .5rem;
    background-color: #ECEFF4;
}

.post p:nth-child(2){
    margin: .3rem 0;
    font-size: 13px;
}

.post p:nth-child(3){
    margin-top: .5rem;
}

#your_question {
    margin-top: 2rem;
}

#your_question form{
    margin-top: .3rem;
    width: 100%;
    display: flex;
    align-content: center;
}

#your_question form textarea{
    width: 100%;
    margin-right: .5rem;
}

#your_question form button, #started_activities > form > button, #signup_btn {
    width: 100px;
    border: 2px solid #333333;
    background: none;
    outline: none;
    transition: .3s ease;
}
#your_question form button:hover, #started_activities > form > button:hover, #signup_btn:hover{
    color: #fff;
    background-color: #333333;
}

#one, #finished {
    margin: 2rem;
    width: 800px;
}

#one h1, #one h2, #finished h1 {
    margin-bottom: 1rem;
}

#one p:first-of-type {
    margin-bottom: 2rem;
}

#one p:last-of-type {
    margin-bottom: .5rem;
}

#done_btn {
    margin-top: .5rem;
}

