body{
    font-family: Arial, sans-serif;
    color: var(--black);
}

nav{
    width: 98%;
    margin: auto;
    border-bottom: 2px solid #333333;
    padding: .5rem;
    display: flex;
    align-items: center;
}

nav div{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a{
    width: max-content;
    color: #333333;
    text-decoration: none;
    margin-left: 1rem;
}
nav a:hover{
    color: #04D89D;
}

#user{
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
}

#user h1{
    width: 98%;
    margin: 1rem auto;
}

#user a{
    width: 100px;
    text-decoration: none;
    color: #04D89D;
    text-transform: uppercase;
    font-weight: bold;

}
#user a:hover{
    color: #333333;
}

#overview_wrapper{
    display: grid;
    width: 98%;
    margin: 1rem auto;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );;
}

#started_activities{
    display: grid;
    grid-template-columns: 1fr;
}

#sign_up, #sign_in {
    margin-top: 5rem;
}

#sign_up h1, #sign_in h1 {
    text-align: center;
}

#sign_up > #form_sign_up, #sign_in > #form_sign_in {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 2rem auto 0 auto;
}

#form_sign_up input, #form_sign_in input {
    margin-bottom: 1rem;
    height: 30px;
}

#form_sign_up button, #form_sign_in button {
    height: 30px;
    width: fit-content;
    margin-left: auto;
}

#form_sign_up label, #form_sign_in label {
    margin-bottom: .2rem;
}

#list_wrapper > div {
    display: flex;
    flex-direction: column;
}

#list_wrapper p {
    margin: 0;
}

#list_wrapper > div > a, #list_wrapper p {
    margin-bottom: 1rem;
}

#list_wrapper > div > div {
    display: flex;
}

#list_wrapper > div > div > a {
    margin-right: .5rem;
}

